[DEFAULT]
bantime  = {{ fail2ban_bantime }}
findtime = {{ fail2ban_findtime }}
maxretry = {{ fail2ban_maxretry }}

[sshd]
enabled  = {{ fail2ban_sshd_enabled | lower }}
port     = ssh
logpath  = %(sshd_log)s
backend  = %(sshd_backend)s
